# Firebase and Google Service files
GoogleService-Info.plist
firestore-debug.log
firestore.indexes.json
firestore.rules
.firebaserc

# Functions and Node modules
functions/.eslintrc.js
functions/.runtimeconfig.json
functions/firebase-debug.log
functions/pubsub-debug.log
functions/package-lock.json
node_modules/

# macOS and system files
.DS_Store
*.log
MovieClub.xcodeproj/project.xcworkspace/xcuserdata
MovieClub.xcodeproj/xcuserdata/marcus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MovieClub.xcodeproj/project.xcworkspace/xcuserdata/marcus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MovieClub.xcodeproj/project.xcworkspace/xcuserdata/marcus.xcuserdatad/UserInterfaceState.xcuserstate
