GoogleService-Info.plist
MovieClub/MovieClub.entitlements
.firebaserc
firebase.json
functions/.eslintrc.js
MovieClub.xcodeproj/
firestore-debug.log
firestore.indexes.json
firestore.rules
functions/package-lock.json
functions/package-lock.json
.DS_Store
node_modulesx/
.log
functions/.runtimeconfig.json
functions/firebase-debug.log
functions/pubsub-debug.log
functions/pubsub-debug.log
functions/pubsub-debug.log
MovieClub.xcodeproj/xcuserdata/marcus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MovieClub.xcodeproj/xcuserdata/marcus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcodeproj
./MovieClub.xcodeproj
